body {
  background-color: #3734;
}

@media only screen and (max-width: 650px) {
  textarea {
    width: 75%;    
  }
}

@media only screen and (max-height: 800px) {
  textarea {
    height: 100px;
    min-height: 30%;
  }
  h1.centered {
    font-size: 1vw;
  }
}

textarea {
  resize: none;
  font-size: 16px;
}

select {
  padding: 5px 15px;
  margin: 1rem auto;
  width: 100%;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.projectTitle {
    text-align: center;
}


.ascii_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textholder {
  text-align: center;
}

.save_buttons {
  text-align: center;
}

button {
  padding: 0.2em 0.4em;
  margin-top: 1em;
  background: 0;

}

button:hover {
  background: #fff;
}

.submit_btn {
  width: 100%;
  max-width: 150px;
  padding: 11px;
  border-radius: 10px;
}
.submit_btn:hover, select:hover {
  background: #3735;
  transition: 0.3s;
}

.result {
  text-align: center;
  font-weight: 550px;
  text-shadow: 1px 1px;
  overflow: auto;
}

.img_sign {
  text-align: center;
  position: relative;
}

img {
  margin-top: 3vw;
  max-width: 300px;
  height: auto;
}
.centered {
  position: absolute;
  top: 22%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: #fff;
}